* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fc-heading: #b52184;
  --fc-text: #312d64;
  --bg-heading: #f9f4fb;
  --bg-main-footer: linear-gradient(134deg, #343193 0%, #302c63 100%);
  --ff-general: "Mulish", sans-serif;
  font-size: 62.5%;
}

/* Header */
header {
  background-color: var(--bg-heading);
  padding-bottom: 6rem;
  animation: topDown 900ms ease-in-out;
}
header section.containerHeader {
  display: flex;
  margin: auto;
  justify-content: center;
}
.head {
  margin-top: 19.5rem;
}
h1 {
  font-size: 3.2rem;
  font-family: var(--ff-general);
  font-weight: 900;
  color: var(--fc-heading);
}
.genericText {
  font-family: var(--ff-general);
  font-weight: 600;
  color: var(--fc-text);
  font-size: 2rem;
}
.arrowImg {
  width: 4rem;
  height: 6.5rem;
  margin-top: 11rem;
}
header section div.astro {
  
  background-image: url(/images/astronautDesktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 45rem;
  height: 45rem;
}
/********************************
 Main 
********************************/

main {
  display: flex;
  flex-direction: column;
  margin: auto;
}

/********************************
 Main - cards
********************************/

main section.cards {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  background: var(--bg-main-footer);
}

main section div.cardsWrapper {
  display: flex;
  gap: 3.75rem;
  justify-content: center;
}
main section div.card {
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 27rem;
  height: 31rem;
  transition: all 200ms ease-in;
  animation: rightIn 1s ease-in-out;
  animation-delay: 150ms;
}
main section div.card img {
  width: 6rem;
  height: 6rem;
}
main section h4 {
  color: #b52184;
  font-size: 2.2rem;
  font-family: var(--ff-general);
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 1.5rem;
}
main section div.card div p {
  color: var(--fc-text);
  font-size: 1.3rem;
  font-family: var(--ff-general);
  font-weight: 600;
}

/********************************
Main - Contact
********************************/

.containerContact {
  max-width: 90rem;
  display: flex;
  flex: 1;
}
main section.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  animation: blink 800ms ease-in-out;

}
main section div.contactInput {
  display: flex;
  max-width: 37rem;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}
main section.contact h2 {
  font-family: var(--ff-general);
  color: var(--fc-heading);
  font-size: 2.6rem;
  font-weight: 900;
}
main section input {
  padding: 0.75rem 1rem 0.75rem 3rem;
}
main section textarea {
  padding: 0.75rem 1rem 0.75rem 1rem;
}
main section input,
textarea {
  border: 1.5px solid var(--fc-text);
  border-radius: 1rem;
  font-family: var(--ff-general);
  color: var(--fc-text);
  font-size: 1rem;
  font-weight: 600;
}
main section button {
  background: var(--bg-main-footer);
  border-radius: 1rem;
  color: #fff;
  font-family: var(--ff-general);
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: capitalize;
  padding: 1rem;
  width: 10rem;
  border: none;
}
.iconPerson {
  background-image: url(./images/person.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position-y: 50%;
  background-position-x: 1.5%;
}
.iconEmail {
  background-image: url(./images/at.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position-y: 50%;
  background-position-x: 1.5%;
}
.stars {
  min-width: 100%;
  min-height: 100%;
  background-image: url(./images/bgStars.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: var(--bg-heading);
}

/********************************
Footer
********************************/


footer {
  background: var(--bg-main-footer);
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--ff-general);
  font-weight: 600;
  padding: 1rem;
}

/********************************
Transitions - Animations
********************************/
.card:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

@keyframes topDown{
0%{
  opacity:0%;
  transform: translateY(-15px);
}
100%{
  opacity: 1;
  transform: translateY(0);
}
}
@keyframes rightIn{
  0%{
    opacity: 0%;
    transform: translateX(800px);
  }
  100%{
    opacity: 100%;
  transform: translateX(0);

  }
}
@keyframes blink{
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

/********************************
Media Query
********************************/

@media (max-width: 960px) {
  .containerHeader,
  .cardsWrapper,
  .containerContact {
    padding: 0 3rem 0 3rem;
  }
  header {
    padding-bottom: 3rem;
  }
  .arrowImg {
    margin-top: 7rem;
  }
}

@media (max-width: 760px) {
  .cardsWrapper {
    padding: 0;
  }
  main section.cards {
    padding: 10rem;
  }
  header section div.astro {
    width: 105rem;
    height: 45rem;
  }
  .head {
    margin-top: 11.5rem;
  }
  header {
    padding-bottom: 0;
  }
  main section.cards {
    padding: 3rem;
  }
  main section div.card {
    gap: 1.5rem;
    max-width: 30rem;
    height: 40rem;
  }
  main section div.cardsWrapper {
    gap: 2.75rem;
  }
}

@media (max-width: 400px) {
  header section div.astro {
    background-image: url(/images/astronaut.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 34rem;
    height: 34rem;
  }
  header section.containerHeader {
    display: flex;
    margin: auto;
    flex-direction: column-reverse;
    align-items: center;
  }
  .containerHeader, .cardsWrapper, .containerContact {
    padding: 0;
}
.head {
    margin-top: 1.5rem;
    text-align: center;
  }
h1 {
    font-size: 2.5rem;
}
.genericText {
    font-size: 1.8rem;
}
.arrowImg {
    margin: 3rem;
    text-align: center;
  }
  main section div.cardsWrapper {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-direction: column;
}
main section div.card {
    gap: 2rem;
    max-width: 100%;
    height: 100%;
}
main section h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.stars{
  background-image: none;
}
main section.contact {
    height: 100%;
    padding: 3rem;
}
}